.container {
  width: 100%;
  max-width: 650px;
  margin: 10% auto 10% auto;
}

.accordion {
  section {
    margin: 0 0 5px 0;
  }
  h2 {
    position: relative;
    background-color: #9e39b0;
    color: #fff;
    padding: 20px 20px;
    margin: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      background-color: #6844b6;
    }
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 25px;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      border-right: 0;
      border-top: 0;
      width: 14px;
      height: 14px;
      transform: rotate(-45deg);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .content {
    padding: 20px;
    margin: 0;
    border: 1px solid #eee;
    border-top: 0;
    font-family: 'Roboto', sans-serif;
    color: #929292;
    font-weight: 300;
    background-color: #fff;
  }
  .active h2 {
    background-color: #6844b6;
    color: #fff;
    &:after {
      -webkit-transform: rotate(-135deg);
      transform: rotate(135deg);
      top: 30px;
    }
  }
}